<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <main>
        <header>
            <a class="logo" href="/">news</a>
            <form action="/search" method="GET">
                <input autofocus class="search-input" value="{{ .Query }}" placeholder="Enter a news topic"
                    type="search" name="q">
            </form>
            <a target="_blank" href="https://github.com/ebenezerraph/news-app" class="button github-button">View on
                GitHub</a>
        </header>

        <section class="container">
            {{ template "result-count" . }}
            {{ template "error-message" . }}
            {{ template "search-results" . }}
            {{ template "pagination" . }}
        </section>
    </main>
</body>

</html>

{{ define "result-count" }}
{{ if and .Results (gt .Results.TotalResults 0) }}
<div class="result-count">
    <p>About <strong>{{ .Results.TotalResults }}</strong> results were found.</p>
</div>
{{ end }}
{{ end }}

{{ define "error-message" }}
{{ if .ErrorMsg }}
<div class="error-message">
    <p>{{ .ErrorMsg }}</p>
</div>
{{ else if and .Results (eq (len .Results.Articles) 0) }}
<div class="error-message">
    <p>No results found for query: <strong>{{ .Query }}</strong></p>
</div>
{{ end }}
{{ end }}

{{ define "search-results" }}
{{ if not .ErrorMsg }}
{{ $articleCount := 0 }}
<ul class="search-results">
    {{ range .Results.Articles }}
    {{ if and (ne .Title "[Removed]") (ne .Description "[Removed]") }}
    <li class="news-article">
        <div>
            <a target="_blank" rel="noreferrer noopener" href="{{ .URL }}">
                <h3 class="title">{{ .Title }}</h3>
            </a>
            <p class="description">{{ .Description }}</p>
            <div class="metadata">
                <p class="source">{{ .Source.Name }}</p>
                <time class="published-date">{{ .FormatPublishedDate }}</time>
            </div>
        </div>
        {{ if and .URLToImage ($.IsImageValid .URLToImage) }}
        <div class="image-container">
            <img class="article-image" src="{{ .URLToImage }}" alt="Article image" loading="lazy">
        </div>
        {{ end }}
    </li>
    {{ $articleCount = add $articleCount 1 }}
    {{ end }}
    {{ end }}
</ul>
<div id="articleCount" data-count="{{ $articleCount }}"></div>
{{ end }}
{{ end }}

{{ define "pagination" }}
{{ if and .Results (gt .Results.TotalResults 0) }}
<p class="page-count">You are on page <strong>{{ .CurrentPage }}</strong> of <strong>{{ .TotalPages }}</strong>.</p>
<div class="pagination">
    {{ if gt .NextPage 2 }}
    <a href="/search?q={{ .Query }}&page={{ .PreviousPage }}" class="button previous-page">Previous</a>
    {{ end }}
    {{ if not .IsLastPage }}
    <a href="/search?q={{ .Query }}&page={{ .NextPage }}" class="button next-page">Next</a>
    {{ end }}
</div>
{{ else if .Query }}
{{ end }}
{{ end }}