html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

:root {
--light-green: #00ff00;
--dark-green: #003b00;
--dark-grey: #777;
--light-grey: #dadce0;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
text-decoration: none;
color: #333;
}

a.button {
border: 2px solid #004400;
border-radius: 3px;
color: var(--dark-green);   
transition: all 0.3s ease;
padding: 6px 24px;
font-size: 14px;
font-weight: 400;
}

a.button:hover {
text-decoration: none;
background-color: var(--dark-green);
color: var(--light-green);
}

header {
width: 100%;
height: 50px;
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
background-color: var(--light-green);
padding: 5px 10px;
align-items: center;
z-index: 1;
}

.logo {
text-transform: uppercase;
color: #002200;
}

form {
height: calc(100% - 10px);
}

.search-input {
width: 500px;
height: 100%;
border-color: transparent;
border-radius: 3px;
background-color: var(--dark-green);
color: var(--light-green);
font-size: 15px;
line-height: 1.4;
padding-left: 5px;
}

.container {
width: 100%;
max-width: 720px;
margin: 0 auto;
padding: 80px 20px 40px;
}

.result-count {
color: var(--dark-grey);
text-align: center;
margin-bottom: 15px;
}

.search-results {
list-style: none;
}

.news-article {
display: flex;
align-items: center;
margin-bottom: 30px;
border: 1px solid var(--light-green);
padding: 15px;
border-radius: 20px;
justify-content: space-between;
transition: all 0.3s ease;
}

.image-container {
height: 150px;
flex-grow: 0;
flex-shrink: 0;
margin-left: 20px;
border-radius: 10px;
width: 200px;
overflow: hidden;
}

.article-image {
width: 100%;
height: 100%;
object-fit: cover;
}

.news-article:hover {
box-shadow: 5px 5px var(--dark-green);
translate: -10px -10px;
border-color: var(--dark-green);
}

.title {
margin-bottom: 15px;
}

.description {
color: var(--dark-grey);
margin-bottom: 15px;
}

.metadata {
display: flex;
color: var(--dark-green);
font-size: 14px;
}

.published-date::before {
content: '\0000a0\002022\0000a0';
margin: 0 3px;
}

.pagination {
margin-top: 20px;
}

.pagination a:hover {
color: var(--light-grey);
}

.previous-page {
margin-right: 20px;
}

@media screen and (max-width: 550px) {
header {
flex-direction: column;
height: auto;
padding: 5px;
}

.logo {
display: inline-block;
margin-bottom: 10px;
}

form, .search-input {
width: 100%;
}

.github-button {
display: none;
}

.title {
font-size: 18px;
}

.description {
font-size: 14px;
}

.article-image {
display: none;
}
}